In [4]:
import numpy as np
import pandas as pd
import sklearn.metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
import matplotlib.pyplot as plt
from sklearn import metrics
import itertools

data= pd.read_csv('HR_comma_sep.csv')

data.shape
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [6]:
le = preprocessing.LabelEncoder()
data['Encoded Salary'] = le.fit_transform(data['salary'])
data['Dept'] = le.fit_transform(data['sales'])
print(data[['Encoded Salary','Dept']])
data.sales.unique()
pd.unique(data[['sales','Dept']].values.ravel('K'))

       Encoded Salary  Dept
0                   1     7
1                   2     7
2                   2     7
3                   1     7
4                   1     7
...               ...   ...
14994               1     8
14995               1     8
14996               1     8
14997               1     8
14998               1     8

[14999 rows x 2 columns]

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD', 7, 2, 3, 9, 8, 4, 0, 6,
       5, 1], dtype=object)

In [15]:
X=data[['satisfaction_level', 'last_evaluation', 'number_project', 'average_montly_hours','time_spend_company',
        'Work_accident', 'promotion_last_5years','Dept','Encoded Salary']]
y=data['left']

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
clf = MLPClassifier(hidden_layer_sizes=(6,5),
                   random_state=5,
                   verbose=False,
                   learning_rate_init=0.01)

clf.loss_curve_

testX = [[0,37,0,32,2,188,3,0,0,7,0]]
testpred=clf.predict(testX)
print("testpred is :", testpred)

if testpred == 0:
    print("Employee will stay")
else:
    print("Employee will leave")

AttributeError: 'MLPClassifier' object has no attribute 'loss_curve_'